<div class="navbar">
  <div class="navbar-inner">
    <div class="sidebar-pusher">
      <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="logo-box">
      <a href="index.php?secao=dashboard&modulo=home" class="logo-text"><span>ForumTec</span></a>
    </div>
    <div class="topmenu-outer">
      <div class="top-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="./logout.php" class="log-out waves-effect waves-button waves-classic">
              <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>